#dark .prose *:not(pre *) {
  color: white !important;
} 

#light .prose *:not(pre *) {
  color: black !important;
}

.simple-link {
  color: inherit;
}

.simple-link:hover,
.simple-link:focus {
  text-decoration: underline !important;
}

section {
  min-height: auto !important;
}