section {
  height: auto !important;
}

#first-featured-blog {
  width: auto;
  height: 100%;
  margin: 0;
}

#first-featured-blog .cover-blog-overlay {
  height: 100%;
  width: 100%;
}

#first-featured-blog:hover,
#first-featured-blog:focus-within {
  border: 1px solid gainsboro !important;
}

#first-featured-blog:hover .cover-blog-overlay,
#first-featured-blog:focus-within .cover-blog-overlay {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
}

#light #first-featured-blog {
  border-color: darkslategrey !important;
}

#light #first-featured-blog:hover,
#light #first-featured-blog:focus-within {
  border: 1px solid gray !important;
}
