#skills {
  position: relative;
  padding: 0 0 3em 0;
  opacity: 1 !important;
}

.skill-box {
  position: relative;
  z-index: 2;
  background-color: #151515;
  box-shadow: 0 0 1px 1px gray;
  border-radius: 64px;
  text-align: center;
  margin-top: 4em;
  padding: 2em 0 3em 0;
}

#skills h2 {
  font-weight: bold;
  font-size: 2.5em;
}

#skills h3 {
  font-weight: lighter;
  font-size: 1.5em;
}

#skills span {
  color: gainsboro;
}

#skills p {
  color: gainsboro;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  padding: 1em 6em;
}

#skills .sub-item-container {
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}

#skills .scale {
  transform: scale(1) !important;
}

.skills-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skills-slider .item > div {
  margin: 0 5em;
}

.skills-slider .item .sub-item {
  padding: 1em;
  border-radius: 50%;
}

.skills-slider .item img {
  width: 3.5em;
}

.skills-slider .col-md-3 {
  flex: 0 0 auto;
  width: 20% !important;
}

.bg-img-left {
  position: absolute;
  top: 20%;
  bottom: 0;
  width: 40%;
  z-index: -1;
}

#light #skills {
  background-color: whitesmoke;
  color: black;
}

#light .skill-box {
  background-color: white;
  box-shadow: 0 0 10px 1px gainsboro !important;
}

#light #skills h3 {
  font-weight: bold;
}

#light #skills p,
#light #skills span {
  color: black;
}

#light .skills-slider > button {
  background: rgba(0, 0, 0, 0.9);
}

#light .skills-slider > button:hover {
  filter: opacity(0.5);
}

#dark #skills {
  box-shadow: 0 0 50px 50px #121212;
}

@media (max-width: 992px) {
  #skills .row > .col {
    padding: 0;
  }

  .skill-box {
    border-radius: 30px;
    box-shadow: 0 0 35px 20px #151515;
    padding: 0;
    padding-top: 2em;
  }

  .skill-box p {
    padding: 0 1em !important;
    color: white !important;
  }

  .skills-slider {
    width: 100%;
  }

  .skills-slider .col-md-3 {
    flex: 0 0 auto;
    width: 33% !important;
  }

  .skills-slider .item > div {
    margin: 0;
  }

  .skills-slider .item,
  .skills-slider .item .sub-item {
    padding: 0;
  }

  .skills-slider .item span {
    font-size: 0.9em;
  }

  .skills-slider img {
    width: 3em !important;
    height: 3em !important;
  }

  #light .skill-box {
    box-shadow: 0 0 1px 1px whitesmoke !important;
  }

  #light .skill-box p {
    color: black !important;
  }
}
