section {
  height: auto !important;
}

#first-featured-blog {
  width: auto;
  height: auto;
}

.feature-image {
  width: 30%;
  height: auto;
}

#light #first-featured-blog {
  border-color: darkslategrey !important;
}