@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Centra', sans-serif;
  src: url('/public/font/centra-font-family-1687149871-0/CentraNo2-Bold-BF646c26904e7ce.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Centra', sans-serif;
  src: url('/public/font/centra-font-family-1687149871-0/CentraNo2-Medium-BF646c26901ce01.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Centra', sans-serif;
  src: url('/public/font/centra-font-family-1687149871-0/CentraNo2-Book-BF646c2690591ba.ttf');
  font-weight: 400;
}

.app {
  overflow: scroll !important;
}

::-webkit-scrollbar {
  width: 10px;
  background: #e5e1e1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(91 91 91);
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  /* font-family: 'Centra', sans-serif !important; */
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  letter-spacing: 0.8px;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

img { user-select: none; }

a { text-decoration: none !important; }

.no-overflow {
  overflow: hidden;
}

#dark {
  background-color: #121212 !important;
  color: white !important;
}

#light {
  background-color: whitesmoke !important;
  color: black !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visible {
  opacity: 1 !important;
}

.current-section {
  height: 0;
  width: 0;
}

.code-loader-container {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 998;
  background: #131313;
}

.code-loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 100px;
  opacity: 0.8;
}

.code-loader span {
  display: inline-block;
  animation: pulse_414 0.4s alternate infinite ease-in-out;
}

.code-loader span:nth-child(odd) {
  animation-delay: 0.4s;
}

@keyframes pulse_414 {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@media (max-width: 992px) {
  p {
    text-align: justify;
    letter-spacing: 0.7px;
    line-height: 1.65em;
    color: white;
  }
}
