#footer {
  position: absolute;
  width: 100%;
  top: 100%;
}

#footer a { margin: 0 1em !important; }
#footer p a { margin: 0 !important; }

#footer p {
  font-size: 0.8em;
  color: gainsboro;
}

#footer .socials a {
  border-color: white;
}

#footer .socials a path {
  fill: white;
}

#footer .socials a:hover path {
  fill: black;
}

#footer .socials a::before {
  background-color: white;
}
