@font-face {
  font-family: Centra, sans-serif;
  src: url('./assets/font/centra-font-family-1687149871-0/CentraNo2-Bold-BF646c26904e7ce.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/centra-font-family-1687149871-0/CentraNo2-Medium-BF646c26901ce01.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra, sans-serif;
  src: url('./assets/font/centra-font-family-1687149871-0/CentraNo2-Book-BF646c2690591ba.ttf');
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-family: Centra, sans-serif !important;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: white !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
